body,html{
    margin:0;
    padding:0;
}
header{
    width: 100%;
    height:70px;
    background-color: azure;
}
h1{
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    font-family: "alfa slab one",cursive;
    color:azure
}
span{
    color:azure;
}
ul{
    width: auto;
    float:right;
    margin-top: 8px;
}
li{
    display:inline-block;
    padding: 15px 30px;
}
a{
    text-align: center;
    color:azure;
    text-decoration: none;
    font-family: "open sans" , sans-serif;
    font-size: 1.2vw;

}
a:hover{
    color: azure;
    transition: 0.5s;

}
img{
    width: 100%;
    margin-top: -16 px;

}
